.title {
        font-weight: bold;
    }

.main_content {
    padding: 20px; /* alignment */
}

nav {
    background-color: #000;
    padding: 10px;
    font-size: 20px;
    color: white;
}

nav > a {
    color: white;
    margin-right: 10px;
}


h1 {
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText {
    0%{ color: #000; }
    49%{ color: transparent; }
    50%{ color: transparent; }
    75%{ color: #888; }
    100%{ color: #000; }
}